<p class="color-red">Home page works!</p>
<p-accordion [activeIndex]="0">
  <p-accordionTab header="Header I">
    <p>Lorem ipsum dolor sit amet...</p>
  </p-accordionTab>
  <p-accordionTab header="Header II">
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...</p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>At vero eos et accusamus et iusto odio dignissimos...</p>
  </p-accordionTab>
</p-accordion>

<div class="grid">
  <div class="col">
    <div class="text-center p-3 border-round-sm bg-primary font-bold">1</div>
  </div>
  <div class="col">
    <div class="text-center p-3 border-round-sm bg-primary font-bold">2</div>
  </div>
  <div class="col">
    <div class="text-center p-3 border-round-sm bg-primary font-bold">3</div>
  </div>
</div>
